# Archivo .env para configuración de variables de entorno

# ===============================
# Configuración de la base de datos
# ===============================
# Credenciales y parámetros de conexión a la base de datos PostgreSQL
DATABASE_USER=<DATABASE_USER>         # Usuario de la base de datos
DATABASE_PASS=<DATABASE_PASS>         # Contraseña del usuario
DATABASE_HOST=<DATABASE_HOST>         # Host o IP del servidor de base de datos
DATABASE_PORT=5432                    # Puerto de conexión (por defecto 5432)
DATABASE_NAME=<DATABASE_NAME>         # Nombre de la base de datos

# ===============================
# Configuración de logging
# ===============================
# LOG_FILE_PATH define la ubicación donde se guardarán los logs generados por la aplicación.
# Puedes especificar una ruta absoluta (por ejemplo: /home/usuario/logs/app.log)
# o una ruta relativa al directorio del proyecto (por ejemplo: logs/app.log).
LOG_FILE_PATH=/home/loggin.log

# ===============================
# Rutas de archivos de datos GBIF
# ===============================
# Rutas absolutas a los archivos TSV descargados de GBIF
OCCURRENCE_FILE=<RUTA_AL_ARCHIVO_OCCURRENCE.CSV>
VERBATIM_FILE=<RUTA_AL_ARCHIVO_VERBATIM.TXT>
SQL_FILE=<RUTA_AL_ARCHIVO_SQL.CSV>

# ===============================
# Configuración de User-Agent para requests
# ===============================
# USER_AGENTS define el User-Agent que se usará en las peticiones HTTP para evitar bloqueos.
USER_AGENTS="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36 Edg/135.0.0.0"